新的合并请求 <%= @merge_request.to_reference %>

<%= url_for(project_merge_request_url(@merge_request.target_project, @merge_request)) %>

<%= merge_path_description(@merge_request, 'to') %>
Author:    <%= @merge_request.author_name %>
<%= assignees_label(@merge_request) %>
<%= render_if_exists 'notify/merge_request_approvers', presenter: @mr_presenter %>

<%= @merge_request.description %>
